* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e2e2e;
    min-height: 60px;
    width: 100%;
}

.top_nav ul li {
    float: left;
    list-style-type: none;
    padding: 10px 5px;
}

.top_nav ul li a {
    color: #9f9f9f;
    padding-left: 5px;
    font-family: 'Alegreya', serif;
}

.social_nav ul li {
    list-style-type: none;
    float: left;
    padding: 10px;
}

.social_nav ul li a i {
    background-color: #787878;
    border-radius: 25px;
    padding: 10px;
    font-size: 12px;
    color: white;
}

.social_nav ul li a i:hover {
    background-color: #db4a39;
    border-radius: 25px;
    padding: 10px;
    font-size: 12px;
    color: white;
}

#navigation_bar {
    margin-top: 20px;
}

#navigation_bar .style_nav {
    background-color: transparent;
    border: 0px solid;
}

#navigation_bar .style_nav .style_collapse {
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    border-bottom: 5px solid #f1f1f1;
}

#navigation_bar .style_brand {
    float: left;
    height: 0px;
    font-size: 0px;
    line-height: 0px;
    padding: 0px;
}

#navigation_bar .style_nav .style_main_nav li {
    min-height: 60px;
}

#navigation_bar .style_nav .style_main_nav li a {
    color: #2e2e2e;
    font-family: 'Alegreya', serif;
    padding-bottom: 20px;
    top: 5px;
    text-align: center;
}

#navigation_bar .style_nav .style_main_nav li a:hover {
    position: absolite;
    color: #9f9f9f;
    font-family: 'Alegreya', serif;
    border-bottom: 5px solid #0099ff;
    top: 5px;
}

.nobody_fool_title h1 {
    color: #333333;
    font-family: 'Alegreya', serif;
    font-size: 40px;
}

.nobody_fool_title p {
    color: #999999;
    font-family: 'Alegreya', serif;
    font-size: 14px;
}

#nobody_fool {
    width: 100%;
    min-height: 150px;
    border-bottom: 5px solid #e9e9e9;
}

.search_form {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.search {
    width: 70%;
    float: left;
    min-height: 35px;
    margin-right: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 7px;
}

.search_btn {
    min-height: 35px;
    width: 25%;
    border-radius: 7px;
    background-color: #0099ff;
    border: 1px solid #0099ff;
    color: white;
    font-family: 'Alegreya', serif;
}

:-moz-placeholder {
    color: #999999;
    font-size: 13px;
    padding-left: 10px;
    font-family: 'Alegreya', serif;
}

:-ms-placeholder {
    color: #999999;
    font-size: 13px;
    padding-left: 10px;
    font-family: 'Alegreya', serif;
}

::-webkit-input-placeholder {
    color: #999999;
    font-size: 13px;
    padding-left: 26px;
    font-family: 'Alegreya', serif;
}

::-moz-placeholder {
    padding-left: 10px;
    color: #999999;
    font-size: 13px;
    font-family: 'Alegreya', serif;
}

.your_title {
    margin-top: 80px;
    margin-bottom: 30px;
}

.your_title h1 {
    font-family: 'Alegreya', serif;
    font-size: 40px;
    color: #333333;
}

#slider {
    background-color: #f1f1f1;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: 8px solid #e9e9e9;
}

#slider .design_indicators li {
    background-color: #000;
    border: 1px solid #000;
}

.your_title p {
    font-family: 'Alegreya', serif;
    color: #666666;
    font-size: 20px;
}

.read_more_btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

.read_more_btn a {
    color: white;
    font-family: 'Alegreya', serif;
    background-color: #0099ff;
    padding: 6px 13px;
    border-radius: 7px;
    font-size: 17px;
}

.item_width {
    width: 100%;
    min-height: 400px;
    background-color: #333333;
}

.design_indicators li {
    float: left;
}

.monitor_image img {
    margin-bottom: 30px;
}

.single_item {
    text-align: center;
    margin-bottom: 20px;
}

.item_image {
    width: 23%;
    margin: 0 auto;
}

.item_title h3 {
    font-family: 'Alegreya', serif;
    color: #0099ff;
}

.item_title p {
    font-family: 'Alegreya', serif;
    color: #666666;
    width: 80%;
    margin: 0 auto;
}

.promotion_width {
    width: 95%;
    margin: 0 auto;
    background-color: #e0e0e0;
    min-height: 115px;
    border-left: 10px solid #0099ff;
}

.promotion_title {
    width: 90%;
    margin: 0 auto;
    font-family: 'Alegreya', serif;
    color: #333333;
}

#promotion {
    margin-bottom: 50px;
}

.contact_button {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.contact_button a {
    color: #e2dede;
    background-color: #0099ff;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

.contact_button a:hover {
    text-decoration: none;
    color: #e2dede;
    background-color: #0099ff;
    font-family: 'Alegreya', serif;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: #1a1a1a;
    min-height: 390px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.catergory_title h5 {
    font-family: 'Alegreya', serif;
    color: #ffffff;
}

.about_image img {
    border: 2px solid #555555;
    padding: 5px;
}

.about_title p {
    font-family: 'Alegreya', serif;
    color: #666666;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quick_link ul li {
    border-bottom: 1px solid #232323;
    padding: 5px;
    list-style-type: none;
}

.quick_link ul li:last-child {
    border-bottom: 0px solid #232323;
    padding: 5px;
    list-style-type: none;
}

.quick_link ul li a {
    font-family: 'Alegreya', serif;
    color: #0099ff;
}

.quick_link ul li a i {
    color: #989898;
    font-size: 12px;
    padding-right: 10px;
}

.read_more a {
    float: right;
    font-family: 'Alegreya', serif;
    color: #0099ff;
    font-size: 15px;
}

.read_more i {
    color: #0099ff;
    font-size: 12px;
    padding-left: 5px;
}

.read_more a:hover {
    text-decoration: none;
    float: right;
    font-family: 'Alegreya', serif;
    color: #0099ff;
    font-size: 15px;
}

.post_title {
    font-weight: bold;
    font-family: 'Alegreya', serif;
    color: #666666;
}

.post_para {
    font-family: 'Alegreya', serif;
    color: #666666;
}

.footer_form {
    width: 100%;
    background-color: #232323;
    border: 1px solid #232323;
    min-height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message_box {
    width: 100%;
    background-color: #232323;
    border: 1px solid #232323;
    min-height: 105px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.submit {
    background-color: #0099ff;
    border: 1px solid #0099ff;
    color: white;
    font-family: 'Alegreya', serif;
    padding: 8px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#copyright {
    min-height: 70px;
    background-color: #222222;
    border-top: 2px solid #2d2d2d;
}

.left_para {
    color: #666666;
    font-family: 'Alegreya', serif;
    padding-top: 20px;
}

@media only screen and (max-width:357px) and (min-width:10px) {
    .top_nav ul li a {
        color: #9f9f9f;
        padding-left: 5px;
        font-family: 'Alegreya', serif;
        font-size: 12px;
    }
}

@media only screen and (max-width:394px) and (min-width:10px) {
    .your_title h1 {
        color: #333333;
        font-family: 'Alegreya', serif;
        font-size: 34px;
    }
}

@media only screen and (max-width:404px) and (min-width:10px) {
    .promotion_title {
        width: 90%;
        margin: 0 auto;
        font-family: 'Alegreya', serif;
        color: #333333;
    }
    #promotion {
        margin-bottom: 50px;
    }
    .contact_button {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .contact_button a {
        color: #e2dede;
        background-color: #0099ff;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .contact_button a:hover {
        text-decoration: none;
        color: #e2dede;
        background-color: #0099ff;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .promotion_title h1 {
        font-size: 21px;
    }
    .promotion_title h4 {
        font-size: 13px;
    }
}

@media only screen and (max-width:1102px) and (min-width:991px) {
    .contact_button a {
        color: #e2dede;
        background-color: #0099ff;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }
    .contact_button a:hover {
        text-decoration: none;
        color: #e2dede;
        background-color: #0099ff;
        font-family: 'Alegreya', serif;
        font-size: 20px;
        padding: 10px;
        border-radius: 10px;
    }
}